.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    
}
@media screen and (max-width: 480px) {
    .service-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
  }

